* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  min-width: 100%;
  min-height: 100vh;
}

body {
  background-color: #fafafa;
  padding: 2rem;
}

main {
  margin: 0 auto;
  max-width: 720px;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  margin-bottom: 3rem;
  color: #2500aa;
}

h1 span {
  display: inline-block;
  color: red;
}

input {
  background-color: white;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  outline: none;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border-radius: 0.3rem;
}

.Row {
  display: flex;
  margin-top: 1rem;
}

.Col {
  margin-right: 0.5rem;
}

.Col--spacer {
  flex: 1;
}

.Button {
  color: white;
  outline: none;
  padding: 1rem;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border-radius: 0.3rem;
  cursor: pointer;
}

.Button--correct {
  background-color: #23d160;
  font-size: 1.5rem;
  height: 100%;
}

.Button--correct:hover {
  background-color: #22c65b;
}

.Button--noise {
  height: 100%;
  background-color: #ffdd57;
  font-size: 1.5rem;
}

.Button--noise:hover {
  background-color: #ffdb4a;
}

.Card {
  background-color: #d4edda;
  padding: 0.75rem 1.5rem;
  font-size: 1.75rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid #c3e6cb;
  border-radius: 0.3rem;
  color: #155724;
}
