astroid==2.2.5
blis==0.2.4
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cymem==2.0.2
Cython==0.29.10
dill==0.2.9
editdistance==0.5.3
Flask==1.0.3
idna==2.8
isort==4.3.20
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==2.6.0
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
murmurhash==1.0.2
nltk==3.4.1
numpy==1.16.4
plac==0.9.6
preshed==2.0.1
pybktree==1.1
pylint==2.3.1
requests==2.22.0
rope==0.14.0
six==1.12.0
srsly==0.0.5
thinc==7.0.4
tqdm==4.32.1
typed-ast==1.4.0
urllib3==1.25.3
wasabi==0.2.2
Werkzeug==0.15.4
wrapt==1.11.1
